<%= simple_form_for(@session) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :theme %>
    <%= f.input :resources %>
    <%= f.input :rating %>
    <%= f.input :activities %>
    <%= f.input :comment %>
    <%= f.input :location %>
    <%= f.hidden_field :user_id,  :value => current_user.id %>
    <%= f.input :date %>
    <%= f.input :closed %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
